{% extends 'base.html' %}

{% block title %}About Us - Bookshop{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Our Purpose</h2>
            <p class="lead">At Bookshop, our purpose is to enchant minds one book at a time. It's not just about selling books; it's about igniting imaginations, fostering a love of reading, and making the transformative power of literature accessible to all.</p>
            <p class="lead">With each book we sell, we aim to impact the lives of millions of people, both locally and globally. We believe that through reading comes learning, and through learning comes the power to create positive change in the world.</p>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Our Impact</h2>
            <p class="lead">While we're passionate about enchanting minds through books, we're also dedicated to supporting our communities and promoting literacy and education.</p>
            <p class="lead">Through our contributions and book donations, we've been able to support numerous organizations and initiatives that share our vision of spreading the joy of reading:</p>
            <ul class="lead">
                <li>Local schools and libraries</li>
                <li>Literacy programs for underserved communities</li>
                <li>Book drives and reading initiatives</li>
            </ul>
            
        </div>
    </div>
</div>
{% endblock %}
